<xen:controlunit label="{$preparedOption.title}">
<ul class="FieldChoices inlineFieldChoices">
	<xen:foreach loop="$preparedOption.option_value" key="$choice" value="$text">
		<xen:if is="{$text}">
			<li>
				<input type="text" name="{$fieldPrefix}[{$preparedOption.option_id}][]" value="{$text}" class="textCtrl" placeholder="{xen:phrase text}" size="25" />
			</li>
		</xen:if>
	</xen:foreach>
	<li>
		<input type="text" name="{$fieldPrefix}[{$preparedOption.option_id}][]" class="textCtrl" placeholder="{xen:phrase text}" size="25" />
	</li>
</ul>
<input type="button" value="{xen:phrase add_additional_choice}" class="button smallButton FieldAdder" data-source="ul.FieldChoices li" />
<p class="explain">{xen:raw $preparedOption.explain}</p>
{xen:raw $editLink}
</xen:controlunit>
<style>
	.inlineFieldChoices li {
		display: inline-block;
	}
</style>