<xf:checkboxrow
	label="{$option.title}"
	hint="{$hintHtml}"
	explain="{$explainHtml}"
	html="{$listedHtml}">

	<xf:option name="{$inputName}[length]" value="1" selected="{$option.option_value.length}">
		<xf:label>{{ phrase('svPasswordtools_length') }}</xf:label>
	</xf:option>
	<xf:option name="{$inputName}[zxcvbn]" value="1" selected="{$option.option_value.zxcvbn}">
		<xf:label>{{ phrase('svPasswordtools_zxcvbn') }}</xf:label>
	</xf:option>
	<xf:option name="{$inputName}[pwned]" value="1" selected="{$option.option_value.pwned}">
		<xf:label>{{ phrase('svPasswordtools_pwned') }}</xf:label>
	</xf:option>
	<xf:option name="{$inputName}[known_bad]" value="1" selected="{$option.option_value.known_bad}">
		<xf:label>{{ phrase('svPasswordtools_known_bad') }}</xf:label>
	</xf:option>
</xf:checkboxrow>