<xf:formrow rowtype="input"
	label="{$option.title}"
	hint="{$hintHtml}"
	explain="{$explainHtml}"
	html="{$listedHtml}">

	<ul class="listPlain inputGroup-container">
		<xf:foreach loop="$choices" key="$counter" value="$word">
			<xf:if is="$word">
				<li class="inputGroup">
					<xf:textbox name="{$inputName}[{$counter}]" value="{$word}" placeholder="{{ phrase('text') }}" size="20" />
				</li>
			</xf:if>
		</xf:foreach>

		<li class="inputGroup" data-xf-init="field-adder" data-increment-format="{$inputName}[{counter}]">
			<xf:textbox name="{$inputName}[{$nextCounter}]" placeholder="{{ phrase('text') }}" size="20" />
		</li>
	</ul>
</xf:formrow>