<xf:title>{{ phrase('admin_navigation.svTestPasswordValidity') }}</xf:title>
<xf:description>{{ phrase('svPasswordTools_use_this_tool_to_diagnose_passwords_being_rejected') }}</xf:description>

<xf:if is="$hasCheckedPassword">
	<xf:if is="$isValid">
		<div class="block-rowMessage block-rowMessage--success block-rowMessage--iconic">
			{{ phrase('svPasswordTools_password.valid') }}
		</div>
	</xf:if>
	
	<xf:if is="$errors is not empty">
		<div class="block-rowMessage block-rowMessage--error block-rowMessage--iconic">
			<ul>
				<xf:foreach loop="$errors" value="$phrase">
					<li>{$phrase}</li>
				</xf:foreach>
			</ul>
		</div>
	</xf:if>

	<xf:if is="$warnings is not empty">
		<div class="block-rowMessage block-rowMessage--warning block-rowMessage--iconic">
			<ul>
				<xf:foreach loop="$warnings" value="$phrase">
					<li>{$phrase}</li>
				</xf:foreach>
			</ul>
		</div>
	</xf:if>
</xf:if>

<xf:form action="{{ link('tools/test-password-validity') }}" class="block">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="username" value="{$username}" type="text"
						   ac="single"
						   label="{{ phrase('user_name') }}"
						   dir="ltr" />
			<xf:textboxrow name="password" value="{$password}" type="password"
				label="{{ phrase('password') }}"
				dir="ltr" />
		</div>
		<xf:submitrow submit="{{ phrase('run_test') }}" />
	</div>
</xf:form>