<xf:macro name="password_input_wrap"
		  arg-inputName=""
		  arg-password=""
		  arg-required=""
		  arg-showPasswordStrength=""
		  arg-class=""
		  arg-xfInit=""
		  arg-autofocus=""
		  arg-controlOptions="{{ [] }}"
		  >
<ul class="inputChoices-dependencies is-disabled">
	<li class="inputChoices-choice" data-xf-init="{$xfInit}">
		<xf:macro name="password_input"
				  arg-inputName="{$inputName}"
				  arg-password="{$password}"
				  arg-required="{$required}"
				  arg-showPasswordStrength="{$showPasswordStrength}"
				  arg-class="{$class}"
				  arg-xfInit=""
				  arg-autofocus="{$autofocus}"
				  arg-controlOptions="{$controlOptions}"
				  />
	</li>
</ul>
</xf:macro>

<xf:macro name="password_input"
		  arg-inputName="password"
		  arg-password="{{ null }}"
		  arg-required="{{ true }}"
		  arg-showPasswordStrength="{{ true }}"
		  arg-class=""
		  arg-xfInit=""
		  arg-autofocus=""
		  arg-controlOptions="{{ [] }}"
		  >
	<xf:css src="svPasswordTools_macros.less" />

	<xf:if is="!$xf.options.svPasswordToolsCheckTypes.zxcvbn">
		<xf:set var="$showPasswordStrength" value="{{ false }}" />
	</xf:if>

	<xf:if is="$xf.options.svShowHidePassword">
		<div class="inputGroup inputGroup--joined {{ $showPasswordStrength ? 'inputGroup--password-strength' : '' }} {$class}"
			 {{$xfInit ? 'data-xf-init="{$xfInit}"' : ''}}>
		<xf:textbox name="{{ $inputName }}"
					type="password"
					value="{{ $password }}"
					autocomplete="off"
					required="{{ $required ?: '' }}"
					disabled="{{ $disabled ?: '' }}"
					autofocus="{{ $autofocus ?: '' }}"
					/>
		<button type="button" tabindex="-1" class="inputGroup-text inputPassword-button inputPassword-button--show" title="{{ phrase('svPasswordTools_show_password') }}" {{ $disabled ? 'disabled="disabled"' : '' }}></button>
		</div>
	<xf:else />
		<xf:textbox name="{{ $inputName }}"
					type="password"
					value="{{ $password }}"
					autocomplete="off"
					required="{{ $required ?: '' }}"
					disabled="{{ $disabled ?: '' }}"
					autofocus="{{ $autofocus ?: '' }}"
					class="no-inputPassword-button {{ $showPasswordStrength ? 'inputGroup--password-strength' : '' }}"
					data-xf-init="{$xfInit}"
					/>
	</xf:if>

	<xf:if is="$showPasswordStrength">
		<xf:js src="sv/vendor/dropbox/zxcvbn/zxcvbn.js" addon="SV/PasswordTools" />
		<div class="inputPassword-strength-bar">{{ phrase('svPasswordTools_password_strength:') }} <span class="inputPassword-strength-bar--value">{{ phrase('svPasswordTools_password_strength_type.none') }}</span></div>
	</xf:if>
	<xf:js src="sv/passwordtools/password_input.js" addon="SV/PasswordTools" min="1" />

	<xf:js>
		jQuery.extend(XF.phrases, {
			svPasswordTools_show_password: "{{ phrase('svPasswordTools_show_password')|escape('js') }}",
			svPasswordTools_hide_password: "{{ phrase('svPasswordTools_hide_password')|escape('js') }}"
			<xf:if is="$showPasswordStrength">,
				passwordBlacklist: [<xf:trim>'{$xf.options.boardTitle|escape('js')}',<xf:foreach loop="$xf.options.svPasswordStrengthMeter_blacklist" value="$blacklistedWord">'{$blacklistedWord|escape('js')}',</xf:foreach></xf:trim>],
				svPasswordTools_password_strength_type_blacklisted: '{{ phrase('svPasswordTools_password_strength_type_blacklisted') }}',
				svPasswordTools_password_strength_type_none: "{{ phrase('svPasswordTools_password_strength_type.none') }}",
				svPasswordTools_password_strength_type_too_easy: "{{ phrase('svPasswordTools_password_strength_type.too_easy') }}",
				svPasswordTools_password_strength_type_easy: "{{ phrase('svPasswordTools_password_strength_type.easy') }}",
				svPasswordTools_password_strength_type_medium: "{{ phrase('svPasswordTools_password_strength_type.medium') }}",
				svPasswordTools_password_strength_type_hard: "{{ phrase('svPasswordTools_password_strength_type.hard') }}",
				svPasswordTools_password_strength_type_brutal: "{{ phrase('svPasswordTools_password_strength_type.brutal') }}"
			</xf:if>
		});
	</xf:js>
</xf:macro>