<xf:macro name="password_row" arg-inputName="password" arg-password="{{ null }}">
	<xf:js src="sv/passwordtools/password_toggler.js" addon="SV/PasswordTools" min="1" />
	<xf:css src="svPasswordTools_register_form_show_password_toggle.less" />

	<xf:formrow rowtype="input" label="{{ phrase('password') }}" hint="{{ phrase('required') }}" data-xf-init="password-toggler">
		<div class="inputGroup inputGroup--joined">
			<xf:textbox name="{{ $inputName }}" type="password" value="{{ $password }}" autocomplete="off" required="required" />
			<button type="button" tabindex="-1" class="inputGroup-text inputPassword-button inputPassword-button--show" title="{{ phrase('svPasswordTools_show_password') }}"></button>
		</div>
	</xf:formrow>
	
	<xf:js>
		jQuery.extend(XF.phrases, {
			svPasswordTools_show_password: "{{ phrase('svPasswordTools_show_password')|escape('js') }}",
			svPasswordTools_hide_password: "{{ phrase('svPasswordTools_hide_password')|escape('js') }}"
		});
	</xf:js>
</xf:macro>